@use 'sass:color';
@import '@/styles/colors';

:root,
::before,
::after {
  --vh: 1vh;

  // Primary colors
  --col-total-white: #{$col-total-white};
  --col-total-white-rgb: #{$col-total-white-rgb};
  --col-total-black: #{$col-total-black};
  --col-total-black-rgb: #{$col-total-black-rgb};

  --col-radiant-silver: #{$col-radiant-silver};
  --col-bilberry: #{$col-bilberry};
  --col-tibetan-yellow: #{$col-tibetan-yellow};
  --col-nuclear-fallout: #{$col-nuclear-fallout};
  --col-downwell: #{$col-downwell};
  --col-gordons-green: #{$col-gordons-green};
  --col-rich-olive: #{$col-rich-olive};

  // Z-indexes
  --z-default: 1;
  --z-hidden: -1;

  // Text variables
  /* stylelint-disable max-line-length */
  --primary-font-family: 'Arial', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  /* stylelint-enable max-line-length */

  --p-size: #{to-rem(16)};

  // Transitions
  --fast-transition-duration: 0.2s;
  --hover-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hover-transition: var(--fast-transition-duration)
    var(--hover-transition-timing-function);

  // Base
  --primary-text-color: rgba(var(--col-total-white-rgb), 70%);
  --container-max-width: #{to-rem(380)};
  --container-side-padding: #{to-rem(20)};

  // Common
  --scrollbar-color: var(--primary-text-color);
}
